{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [
    atomvm_rebar3_plugin
]}.
{post_hooks, [
    {compile, "./collect_otp_beams.sh _build/default/lib/atomvm_erlc/ebin"}
]}.
{atomvm_rebar3_plugin, [
    {packbeam, [{start, atomvm_erlc}]},
    {escriptize, [
        {output, "erlc"},
        {aot, "aarch64"}
    ]}
]}.
